<nav class="nav-container">
  <div class="nav-principal">
    <button routerLink="/produtos" routerLinkActive="ativo">Formulário de Produto</button>
    <button routerLink="/nova-venda" routerLinkActive="ativo">Nova Venda</button>
    <button routerLink="/historia-vendas" routerLinkActive="ativo">História de Vendas</button>
    <button routerLink="/detalhes-venda" routerLinkActive="ativo">Detalhes da Venda</button>
    <button routerLink="/estoque" routerLinkActive="ativo">Estoque de Produtos</button>
  </div>

  <div class="nav-atalhos">
    <button routerLink="/produtos" routerLinkActive="ativo">F1</button>
    <button routerLink="/nova-venda" routerLinkActive="ativo">F2</button>
    <button routerLink="/historia-vendas" routerLinkActive="ativo">F3</button>
    <button routerLink="/detalhes-venda" routerLinkActive="ativo">F4</button>
    <button routerLink="/estoque" routerLinkActive="ativo">F5</button>
  </div>
</nav>
